<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Node Quiz</h1>
      <nav>
        <a href="/topics">Topics</a>
        <a href="/topics/new">New topic</a>
      </nav>
    </header>

    {{{body}}}
  </body>
</html>
