/* UNIVERSALS */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  margin: 0px;
}

a {
  text-decoration: none;
}
/* TYPOGRAPHY */
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.5rem;
}
h3{
  font-size: 1.5rem;
}
p {
  font-size: 1.0rem;
}
small {
  font-size: 0.75rem;
}
ul {
  list-style-type: square;
  padding-left: 18px;
}
ul ul {
  list-style-type: circle;
  padding-left: 18px;
}

/* GRID SYSTEM */

.row:after {
  content: '';
  clear: both;
  display: block;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.col {
  float: left;
  position: relative;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666666666666%;
  width: calc(100% * 11/12);
}
.col-10 {
  width: 83.33333333333334%;
  width: calc(100% * 10/12);
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666666666666%;
  width: calc(100% * 8/12);
}
.col-7 {
  width: 58.333333333333336%;
  width: calc(100% * 7/12);
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666666666667%;
  width: calc(100% * 5/12);
}
.col-4 {
  width: 33.33333333333333%;
  width: calc(100% * 4/12);
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666666666666664%;
  width: calc(100%*2/12);
}
.col-1 {
  width: 8.333333333333332%;
  width: calc(100%*1/12);
}

/* OFFSETS LEFT */
.offset-11 {
  margin-left: 91.66666666666666%;
  margin-left: calc(100% * 11/12);
}
.offset-10 {
  margin-left: 83.33333333333334%;
  margin-left: calc(100% * 10/12);
}
.offset-9 {
  margin-left: 75%;
}
.offset-8 {
  margin-left: 66.66666666666666%;
  margin-left: calc(100% * 8/12);
}
.offset-7 {
  margin-left: 58.333333333333336%;
  margin-left: calc(100% * 7/12);
}
.offset-6 {
  margin-left: 50%;
}
.offset-5 {
  margin-left: 41.66666666666667%;
  margin-left: calc(100% * 5/12);
}
.offset-4 {
  margin-left: 33.33333333333333%;
  margin-left: calc(100% * 4/12);
}
.offset-3 {
  margin-left: 25%;
}
.offset-2 {
  margin-left: 16.666666666666664%;
  margin-left: calc(100%*2/12);
}
.offset-1 {
  margin-left: 8.333333333333332%;
  margin-left: calc(100%*1/12);
}

/* Custom Styling */
#banner {
  background: #E5E4E9;
  height: calc(100vh - 80px);
  text-align: center;
  p {
    font-weight: 700;
    font-size: 20px;
    margin-top: 75px;
    color: #FFFFFF;
  }
  .pencil {
    transition: transform 0.5s ease;
    cursor: pointer;
  }
}

#banner .pencil.active {
  transform: rotate(-90deg);
}

#banner .pencil.spin {
  transform: rotate(360deg);
}


header {
  background: #FFFFFF;
  width: 100%;
  height: 80px;
  transition: top 1s;
}

header .logo {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #80BD01;
  line-height: 80px;
}

header.active {
  position: fixed;
  top: 0px;
  z-index: 1;
}

nav a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #999B94;
  line-height: 80px;
  padding-left: 50px;
}
.card-holder {
  padding: 0px 5px;
}
#main.active {
  margin-top: 80px;
}
.card {
  height: 320px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  border: 5px solid white;
}

.geography {
  background-image: radial-gradient(50% 100%, #FBF8C5 0%, #F3EC92 100%);
}

.movies {
  background-image: radial-gradient(50% 100%, #647FB7 0%, #344981 100%);
  color: white;
}

.JavaScript {
  background-image: radial-gradient(50% 100%, #FEE600 0%, #FBC700 100%);
}

.nature {
  background-image: radial-gradient(50% 100%, #894DB6 0%, #51267F 100%);
  color: white;
}

.celebrity {
  background-image: radial-gradient(50% 100%, #F7F7F7 0%, #EBEBEB 100%);
}

.history {
  background-image: radial-gradient(50% 100%, #00C1FE 0%, #008DFB 100%);
}

/* Q&A layout */
.answer {
  display: none;
}

.next {
  display: none;
}

.topic-detailed-view {
  position: relative;
}

.card-question {
  height: calc(100vh - 80px);
  border: 5px solid white;
  position: relative;
}
.question {
  margin-top: 8%;
}
.question p, .answer {
  font-size: 31px;
  font-weight: 800;
  padding: 20px;
}

.card-topic {
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 0px;
}

.btn, .reveal-answer, .next, .new-topic, .submit-question{
    /* Answer: */
  background: #80BD01;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  /* Reveal: */
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 9px 29px;
}

.next {
  margin: 0px;
}

.new-topic {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 50%;
}

/* FORM STYLING */
input, textarea {
  -webkit-appearance: none;
  height: 30px;
  padding: 6px 10px;
  font-size: 14px;
  text-align: left;
  margin: 5px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #ccc;
  color: #555;
  width: 95%;
  max-width: 500px;
}
textarea {
  height: 100px;
}
::-webkit-input-placeholder {
  color: #ccc;
}
input:focus {
  outline: 0;
}
input[type=submit] {
  -webkit-appearance: none;
  background-color: #80BD01;
  color: white;
  padding: 6px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
  min-height: 40px;
  line-height: normal;
  outline: 0 none;
  width: auto;
  min-width: 100px;
  text-align: center;
  a {
    color: white;
  }
}
fieldset {
  border-color: #80BD01;
}

/* Phone size */
@media (max-width: 760px) {
  .container {
    width: 100%;
  }
  .sm-col-12 {
    width: 100%;
    margin-left: 0%;
  }
  .sm-col-6 {
    width: 50%;
    margin-left: 0%;
  }
  .sm-hide {
    display: none;
  }
  .question {
    margin-top: 20%;
  }
  .question p, .answer {
    font-size: 20px;
  }
}

/* iPad size */
@media (max-width: 1200px) and (min-width: 761px) {
  .md-col-12 {
    width: 100%;
    margin-left: 0%;
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: 33.33333333333333%;
    width: calc(100% * 4/12);
  }
  .md-col-3 {
    width: 25%;
  }
}

/* TEXT POSITIONING*/

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.flex-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
