<form action="/topics/{{data.id}}" method="post">
  <input type="hidden" name="_method" value="PUT">
  <p>Name:</p>
  <p><input type="text" name="name" value={{data.name}}></p>

  <p><input type="submit"></p>
</form>
