<div class="container new-express">
  <h2>Add new question</h2>
  <p>{{hide}}</p>
  <form action="/questions" method="post">
    <p>Question:</p>
    <p><input type="text" name="question" required=true autofocus=true></p>

    <p>Answer:</p>
    <p><input type="text" name="answer" required=true></p>

    <p>Topic:</p>
    <select name="topic_id">
      {{#each topics}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <p><input class="submit-question" type="submit"></p>
  </form>

</div>
